# Temp
__pycache__/
.pytest_cache/
*.pyc
dist/
*.egg-info/

# Jupyter/IPython
.ipynb_checkpoints/
*.ipynb_checkpoints

# Configs ad virtual enviroments
.env
venv/
.envs/
*.env

# Outputs
images/
*.csv
*.png
*.pdf
*.log