# Temp
__pycache__/
.pytest_cache/
*.pyc
dist/
build/
*.egg-info/

# Jupyter/IPython
.ipynb_checkpoints/
*.ipynb_checkpoints

# Configs ad virtual enviroments
.env
venv/
.envs/
*.env

# Outputs
images/
*.ecsv
*.csv
*.pdf
*.log

# Development files
*_dev.*